  <td><%= form_for(task) do |f| %>
    <%= f.check_box :finished %>
  <% end %></td>
  <td><%= task.description %></td>
  <td><%= task.formatted_start_date %></td>
  <td><%= task.formatted_end_date %></td>
  <td><%= link_to 'Detalhes', task %></td>
  <td><%= link_to 'Editar', edit_multi_task_path(task) %></td>
  <td><%= link_to 'Excluir', task, method: :delete, data: { confirm: 'Excluir: Tem certeza?' } %></td>
