  <td><%= form_for(task) do |f| %>
    <%= f.check_box :finished %>
  <% end %></td>
  <td><%= task.description %></td>
  <td><%= task.formatted_start_date %></td>
  <td><%= task.formatted_end_date %></td>
  <td><%= options(task) %></td>
