  <td><%= form_for(task) do |f| %>
    <%= f.check_box :finished %>
  <% end %></td>
  <td><%= task.description %></td>
  <td><%= task.formatted_start_date %></td>
  <td><%= task.formatted_end_date %></td>
  <td><%= link_to 'Mostrar tarefa', task %></td>
  <td><%= link_to 'Editar tarefa', edit_multi_task_path(task) %></td>
  <td><%= link_to 'Deletar tarefa', task, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
