<p id="notice"><%= notice %></p>

<h1>Tarefas</h1>

<table>
  <thead>
    <tr>
      <th>Finalizado?</th>
      <th>Descrição</th>
      <th>Data de inicio</th>
      <th>Data de fim</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @multitasks.each do |multitask| %>
      <tr>
        <%= render partial: 'task', locals: { task: multitask[:task] }  %>
        <td><%= button_to 'Abrir Sub-tarefas' %></td>
      </tr>
      <% if !multitask[:subtasks].empty? %>
        <td>Sub-tasks:</td>
        <% multitask[:subtasks].each do |subtask| %>
          <tr>
            <%= render partial: 'task', locals: { task: subtask }  %>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Nova tarefa', new_multi_task_path %>
